# Local .terraform directories
terraform-infra/**/.terraform/*

# .tfstate files
terraform-infra/*.tfstate
terraform-infra/*.tfstate.*
terraform-infra/.terraform.lock.hcl

# Crash log files
terraform-infra/crash.log
terraform-infra/crash.*.log

# Ignore CLI configuration files
terraform-infra/.terraformrc
terraform-infra/terraform.rc

# Node modules
node_modules